
.qodo
/src/main/java/org/example/GUIPrototype/nbproject/private/
/src/main/java/org/example/GUIPrototype/build/
/src/main/java/org/example/GUIPrototype/dist/
/src/main/java/org/example/GUIPrototype/target/
